<!DOCTYPE html>
<html>
    <head>
        <link href="/assets/weather.png" rel="icon" />
        <link rel="stylesheet" href='/css/styles.css' />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Oops. Sorry.</p>
            <p>{{pageName}} not found</p>
        </div>
        {{>footer}}
    </body>
</html>