<!DOCTYPE html>
<html>
    <head>
        <title>About page</title>
        <link href="/assets/weather.png" rel="icon" />
        <link rel="stylesheet" href='/css/styles.css' />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/assets/ashish.jpg" alt="Ashish Deora"/>
        </div>
        
        {{>footer}}
    </body>
</html>